
@{
    ViewData["Title"] = "Display Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display Results</h2>




<hr/>
<button class="btn btn-danger" title="delete">Delete Question</button>
<button class="btn btn-default" title="add">Add Question</button>