
Querier/.vs/config/applicationhost.config
Querier/.vs/Querier/v15/.suo
Querier/.vs/Querier/v15/sqlite3/storage.ide
Querier/Querier/bin/Debug/netcoreapp2.0/Querier.dll
Querier/Querier/bin/Debug/netcoreapp2.0/Querier.pdb
Querier/Querier/bin/Debug/netcoreapp2.0/Querier.runtimeconfig.dev.json
Querier/Querier/obj/Debug/netcoreapp2.0/Querier.csproj.CoreCompileInputs.cache
Querier/Querier/obj/Debug/netcoreapp2.0/Querier.csproj.FileListAbsolute.txt
Querier/Querier/obj/Debug/netcoreapp2.0/Querier.csprojResolveAssemblyReference.cache
Querier/Querier/obj/Debug/netcoreapp2.0/Querier.dll
Querier/Querier/obj/Debug/netcoreapp2.0/Querier.pdb
Querier/Querier/obj/project.assets.json
Querier/Querier/obj/Querier.csproj.nuget.cache
Querier/Querier/obj/Querier.csproj.nuget.g.props
Querier/Querier/obj/Debug/netcoreapp2.0/Querier.Properties.Resources.resources
