@model DataManager.Question
@{
    ViewData["Title"] = "Query closed.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Query <span style="color:mediumorchid"> @Model.Code </span> has been closed.</h2>
<hr/>
