@{
    ViewData["Title"] = "About Querier";
    ViewData["Message"] = "All your queries in one place.";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Querier was created to provide a tool for offering surveys, poll, quizes, petitions, and many other types of queries all from one simple interface.
    <br/>
    Querier was developed in the autum of 2017 by:
    <ul>
        <li>Daniel Gohier</li>
        <li>Jeremy Gohier</li>
        <li>Spencer Thorson</li>
        <li>Steven Timothy</li>
    </ul>
    
</p>
