@{
    ViewData["Title"] = "Home Page";
}
<div class="branded">
        @using (@Html.BeginForm("JoinQuery", "Home", FormMethod.Post, new { @class = "navbar-form", @role = "search" }))
        {
            <label for="qID">Join a live Query:</label>
            <input name="qID" type="text" class="form-control" placeholder="Enter a Query ID">
            <input type="submit" value="Join" class="btn btn-success"/>
        }
</div>