@{
    ViewData["Title"] = "Home Page";
}
<div class="branded">
    <form class="navbar-form" role="search">
        <div class="form-group">
            <label for="qID">Join a live Query:</label>
            <input name="qID" type="text" class="form-control" placeholder="Enter a Query ID">
        </div>
    </form>
</div>