@{
    ViewData["Title"] = "Home Page";
}

<form class="navbar-form no-margin no-padding" role="search">
    <div class="form-group">
        <label class="branded" for="comment">Join a Live Query:</label>
        <input type="text" class="form-control" placeholder="Enter a Query ID">
    </div>
</form>