@model Querier.Models.ManageQueryModel

@{
    ViewData["Title"] = "Edit Query";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>
    <form class="navbar-form no-margin no-padding">
        <a asp-action="Create" class="btn btn-primary">Create New Question</a>
    </form>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserID" />
            <input type="hidden" asp-for="QueryID"/>
            @*<div class="form-group">
                <label asp-for="QueryID" class="control-label"></label>
                <input asp-for="QueryID" class="form-control" />
                <span asp-validation-for="QueryID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="QueryName" class="control-label"></label>
                <input asp-for="QueryName" class="form-control" placeholder="Query Name" />
                <span asp-validation-for="QueryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

